.container-support {
    width: 25px;
    height: 100px;
    border: 2px solid black;
}

.container-lights {
    width: 215px;
    height: 650px;
    border: 2px solid black;
    border-radius: 20px;
}

.light {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
}

.red {
    background-color: rgb(255, 0, 0);
}

.yellow {
    background-color: rgb(255, 255, 0);
}

.green {
    background-color: rgb(0, 128, 0);
}